{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if error%}
        <!-- <h3>Error the page " "  already exists</h3>  -->
          <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>Sorry!</strong> The page "{{ name }}" already exists .
          </div>
    {% endif %}
<!-- formaaaaaa -->
    <h1>Create Pages </h1>
    <form action="{% url 'wikis:create' %}" method="post">
        {% csrf_token %}
        {{ newPage }}
        <input  type="submit" value="Save">
    </form>

{% endblock %}
