{% extends "encyclopedia/layout.html" %}
{% block title %}
    {{name}}
{% endblock %}


{% block nav %}
    <div>
        <a href="{% url 'wikis:wikiedit' name=name %}">Edit Page </a>                    
    </div>
    <!-- <div>
        <a href="{% url 'wikis:edit' name=name %}">Edit Page 2 </a>                    
    </div> -->
{% endblock %}


{% block body %}

    {% if empty %}
        <h3>Sorry, the page "{{name}}" does not exist. :( </h3>
        
        <h3>You can create it in the "Create New Page" link</h3>
    {% else %}
        <div>
    <!-- <h1>Page {{ name }}</h1> -->
        {{ content|safe }}
            {% load  %}
        </div>
        {% endif %}



    {% if similars %}
        <h3>similar options</h3>    
    {% endif %}
    <ul>
        {% for entry in entries %}
            <li> <a href="{% url 'wikis:wikiResult' name=entry%}">{{ entry }}</a> </li>
        
        {% endfor %}
    </ul>
{% endblock %}